* {
    font-family: 'Avenir Next'
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5vw;
}

body {
    margin: 0 3vw;
    background-color: #F5F5F5;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3vw;

}



.menu {
    display: flex;

}



.menu1,
.menu2,
.menu3 {
    padding-right: 1vw;
    font-weight: 500;
}

.menu1 {
    color: #6B6B6B;
}

.menu2 {
    color: #E0E0E0;
}

.menu3 {
    color: #1EA7CB;
}

h1 {
    font-weight: 300
}

h2 {
    background-color: white;
    font-weight: 100;
    text-align: center;
    padding: 2vw;
    margin: 0;
}

.post {
    border: 2px solid #D6D6D6;
    border-radius: 5px;
}

.content {
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #717171;
    border-top: 1px solid #EFEFEF;
}

.bed,
.bath,
.sqfeet {
    font-weight: 600;
}

.buttonwrapper {
    display: flex;
    justify-content: flex-end;
}

.button1 {
    color: #1EA7CB;
    border: 1px solid #1EA7CB;
    padding: 1vw 2vw;
    font-weight: 200;
/*    font-size: 1.5vw;*/

}

.button2 {
    background-color: #1EA7CB;
    color: white;
    width: 100%;
    font-weight: 200;
    padding: 1vw 0;
/*    font-size: 1.4vw;*/
    border: 1px solid #1EA7CB;
    border-radius: 5px;
}
